opencv-python
mediapipe
ultralytics
torch>=2.6
torchvision
facenet_pytorch
transformers
huggingface_hub
python-dotenv
numpy
flask
questionary
face_recognition; platform_system != 'Windows'
psycopg2-binary
openai-whisper
sounddevice
